@hx:registry=http://localhost:4873
@hx:publishRegistry=http://localhost:4873
# 账号 admin 密码 admin@123

# 注册账号 npm adduser --registry=http://localhost:4873
# 登录到本地 verdaccio:  npm login --registry=http://localhost:4873 
# 发布到本地 verdaccio:  npm publish --registry=http://localhost:4873