{
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"printWidth": 120,
	"overrides": [
		{
			"files": "*.vue",
			"options": {
				"parser": "vue",
				"vueIndentScriptAndStyle": false
			}
		},
		{
			"files": "*.json",
			"options": {
				"parser": "json",
				"printWidth": 120
			}
		}
	]
}
